@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --primary-color: #293b86;
  --secondary-color: #707eb5;
  --text-color: #e9e9e9;
  --bg-color: #1c1c1c;
}

html {
  font-family: Tahoma, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0rem;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: var(--primary-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-inline: 1rem;
}

.div-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item-nav{
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.item-nav:not(:last-child) {
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 0.5em;
}

.item-nav-texto {
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 0.5em;
}

.texto-nav {
  font-family: "Open Sans";
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 700;
  align-items: center;
  justify-content: space-around;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5rem;
  font-family: "Open Sans";
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

nav a:hover {
  color: var(--text-color);
  text-decoration: none;
  background-color: #425394;
  border-radius: 10px;
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

nav a:active {
    color: var(--text-color);
  text-decoration: none;
  padding: 0.5rem;
  font-family: "Open Sans";
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    color: var(--text-color);
    font-family: "Open Sans";
    font-weight: 650;
}

hr {
    box-align: center;
    width: 84%;
    height: auto;
    margin: 0 auto;
    border: 1px solid var(--text-color);
}

main {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

p {
  color: var(--text-color);
  font-size: 1em;
  font-family: "Open Sans";
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  font-family: "Open Sans";
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

a:hover {
  color: var(--text-color);
  text-decoration: none;
  font-family: "Open Sans";
  transition: all 0.2s ease-in-out;
  transform: translate3d(0, -2px, 0);
}

.articles-cards {
  display: grid;
  /* grid template columns depends on the withh of the screen */
  /*grid-template-columns: repeat(2, 1fr);*/
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  column-gap: 3.5rem;
  row-gap: 0rem;
  align-items: center;
  justify-items: center;
}

.article-card {
    background-color: #242424;
    color: var(--text-color);
    border-radius: 20px;
    width: 100%;
    border : 1px solid var(--text-color);
    padding: 0.8rem;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
}

.article-card:hover {
    background-color: #2b2b2b;
    transition: all 0.2s ease-in-out;
}

.article-card-banner {
    width: 13rem;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-bottom: 0.3rem;
} 

.article-card-banner-image {
    width: 13rem;
    align-content: center;
    background-color: #2D90F6;
    border-radius: 20px;
  } 

.article-card-title {
    font-size: 1.1rem;
    font-weight: 650;
    color: var(--text-color);
    margin-bottom: 0.3rem;
    font-family: "Open Sans";
}

.article-card-description {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    font-family: "Open Sans";
}

.article-card-footer {
  font-size: 0.7rem;
  color: var(--text-color);
  font-family: "Open Sans";
  align-self: flex-end;
  text-align: right;
}


.banner-image {
  mask-image: linear-gradient(var(--bg-color) 10%, transparent);
}

.sign-columns {
  display: grid;
  grid-template-columns: auto max-content auto;
  justify-items: center;
}

.sign-column-center {
  border: 2px solid var(--text-color);
  padding: 0.5rem;
  background-color: var(--bg-color);
  transform: translate(0, -10px, 0);
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.sign-column-center:hover {
  border: 2px solid var(--text-color);
  padding: 0.5rem;
  background-color: var(--bg-color);
  background-color: var(--primary-color);
  transform: translate3d(0, -5px, 0);
}

.columns {
  display: grid;
  grid-template-columns: min-content auto auto;
  gap: 2rem;
  justify-items: center;
}

.author {
    display: block;
    position: sticky;
    overflow: hidden;
    top: 0;
    align-items: center;
    background-color: var(--bg-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 1rem;
    box-shadow: none;
}

.section-nav {
    display: flex;
    position: sticky;
    overflow: hidden;
    top: 0;
    align-items: center;
    background-color: var(--bg-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 1rem;
    border-left: #e9e9e925 1px solid;
    box-shadow: none;
}

.section-nav-element {
    color: var(--secondary-color);
    text-decoration: none;
    font-family: "Open Sans";
    transition: all 0.2s ease-in-out;
    font-size: 0.9rem;
    box-shadow: none;
    display: block;
}

.section-nav-element:hover {
    color: var(--text-color);
    text-decoration: none;
    font-family: "Open Sans";
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}

footer {
    text-align: center;
    color: var(--text-color);
    font-size: 0.8em;
    margin-top: 20px;
    font-family: "Open Sans";
    background-color: var(--bg-color);
}

.license {
    text-align: center;
    font-size: 0.75em;
    margin-top: 20px;
    font-family: "Open Sans";
    color: var(--text-color);
    text-decoration: none;
}